pandas
scikit-learn
joblib
fastapi
uvicorn
pydantic
python-jose[cryptography]
bcrypt
SQLAlchemy
pydantic-settings
onnxruntime
transformers
torch
matplotlib
seaborn
plotly
bokeh
Matplotlib
Seaborn
Plotly
Bokeh
