bcrypt
bokeh
cryptography
fastapi
joblib
matplotlib
onnxruntime
pandas
plotly
psycopg[binary]
pydantic
pydantic-settings
python-jose[cryptography]
requests
scikit-learn
seaborn
slowapi
sqlalchemy
torch
transformers
uvicorn[standard]