bcrypt
cryptography
fastapi
joblib
onnxruntime
pandas
psycopg[binary]
pydantic
pydantic-settings
python-jose[cryptography]
requests
slowapi
sqlalchemy
torch
transformers
uvicorn[standard]
httpx
gunicorn
