name: Deploy InsightClass API to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create venv and install dependencies
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: insightclass-package
          path: |
            backend/
            antenv/
            requirements.txt

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: insightclass-package

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BE1C18619E4546ECB3490083EF3E7490 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F9508569F437462DA1EFB21979DC9A9A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C2D868F8615E43CFBFDF1E606D14203D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "InsightClass"
          slot-name: "Production"
          package: .
